
*.html

*.Rproj

.Rproj.user/E37AEAA8/pcs/files-pane.pper

.RData

.Rhistory

*.pper

.Rproj.user/E37AEAA8/saved_source_markers

.Rproj.user/E37AEAA8/sdb/prop/16740C77

.Rproj.user/E37AEAA8/sdb/prop/5F8A9542

.Rproj.user/E37AEAA8/sdb/prop/635AD045

.Rproj.user/E37AEAA8/sdb/prop/93D20512

.Rproj.user/E37AEAA8/sdb/prop/INDEX

.Rproj.user/E37AEAA8/sdb/prop/9D933D95

.Rproj.user/E37AEAA8/sdb/s-11172B40/41A056EE

.Rproj.user/E37AEAA8/sdb/s-11172B40/5CA35199

.Rproj.user/E37AEAA8/sdb/s-11172B40/72A31F63

.Rproj.user/E37AEAA8/sdb/s-11172B40/lock_file
